<%-include('templates/iniciohtml.ejs')%>
<div class="container">
    <br>
    <h1>Entrada como administrador</h1>
    <br>
    <h3>Lista de acciones</h3>
    <br>
    <a class="btn btn-success" href="/catalogo/listapro">Ver lista de productos</a>
    <br><br>
    <a class="btn btn-success" href="/catalogo/registro">Agregar producto</a>
    <br><br>
    <a class="btn btn-success" href="/ventas/listaventas">Ver ventas</a>
    <br><br>
    <a class="btn btn-secondary" href="/logout">Cerrar sesión</a>
</div>
<%-include('templates/finhtml.ejs')%>