<%-include('templates/iniciohtml.ejs')%>
<%-include('templates/menu.ejs')%>
<div class="container">
    <div class="text-center">
        <h1>Tu compra ha sido realizada.</h1>
        <h4>Por favor espera información sobre tu compra.</h4>
    </div>

</div>
<%-include('templates/finhtml.ejs')%>