<%-include('templates/iniciohtml.ejs')%>
<%-include('templates/menu.ejs')%>
<div class="container">
    <div class="mt-5"></div>
    <div class="alert alert-danger mt-6">
        <h5><%=mensaje%></h5>
    </div>
</div>
<%-include('templates/finhtml.ejs')%>