<br>
<div class="container">
    <div class="alert alert-warning" role="alert">
        Advertencia! Esta página está en desarrollo.<br>Por favor notifique a los desarrolladores si algo no funciona como debería.
    </div>
</div>
<br>
<div>
    <div class="p-3 mb-2 bg-secondary text-white">
        <br>
        <p class="text-center">Visita nuestras páginas</p>
        <div class="text-center">
            <a href="https://www.facebook.com/" target="_blank"><img src="/galeria/facebook.png" width="40px"></a>  
            <a href="https://www.instagram.com/" target="_blank"><img src="/galeria/instagram.png" width="40px"></a>
            <a href="https://wa.me/524141008878/" target="_blank"><img src="/galeria/whatsapp.png" width="40px"></a>
            <br><br>
        </div>
        <div class="container row">
            <div class="col text-start">
                <a href="#" style="color:white">Licencias</a>
                <br><br>
                <a href="#" style="color:white">Términos y condiciones</a>
                <br><br>
                <a href="#" style="color:white;">Acerca de nosotros</a>
            </div>
            <div class="col text-end">
                <a href="#" style="color:white">Otras cosas</a>
                <br><br>
                <a href="#" style="color:white">Más links externos</a></li>
            </div>
        </div>
        <br>
        <div style="display: none;">Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></div>
    </div>
</div>
</body>
</html>